.App {
  font-family: sans-serif;
  text-align: center;
}

.editor-height {
  height: calc(100vh - 160px);
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.flex-col {
  flex-direction: column;
}

.mt-5 {
  margin-top: 1.25rem;
}

.justify-between {
  justify-content: space-between;
}
